@import '../../common/styles/styles.scss';
.button-style{
    background-color: $theme-token-primary;
    border-radius: 20px;
    padding: 10px 20px 10px 20px;
    color: $theme-token-white;
    text-align: center;
    cursor: pointer;
    &:hover{
        background-color: $theme-token-red;
    }
}