@import "../common/styles/styles.scss";

.home {
  .pre-content {
    background-image: url("../imgs/sea_background.jpeg");
    background-attachment: fixed;
    background-position: 0 0vh;
    display: flex;
    padding-bottom: 40px;
    // color: #ffff;
    @media screen and (max-width: $tablet) {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    &__text1 {
      font-size: 2.25rem;
      font-weight: 700;
      margin-bottom: 20px;
    }
    &__text2 {
      font-size: 1.875rem;
      font-weight: 700;
      margin-bottom: 20px;
    }
    &__button {
      background-color: $theme-token-primary;
      font-weight: 700;
      font-size: 0.875rem;
      border-radius: 5px;
      padding: 15px;
      max-width: 300px;
      cursor: pointer;
      box-shadow: 2px 2px 2px 2px #242323;
    }
    &__left {
      width: 55%;
      display: flex;
      flex-direction: column;
      padding: 150px 0 0 250px;
      @media screen and (max-width: $tablet) {
        padding: 0 30px 0 0;
      }
    }
    &__right {
      width: 45%;
      @media screen and (max-width: $tablet) {
        // width: 100%;
      }
    }

    .shiba-img {
      width: 436px;
      height: 460px;
      @media screen and (max-width: $tablet) {
        width: 218px;
        height: 230px;
      }
    }
  }

  .body-content {
    // color: #ffff;
    padding: 70px;
    background-color: #171822;
    background-color: #02012f;
    @media screen and (max-width: $tablet) {
      padding: 10px;
    }
    .focus {
      // col
      color: $theme-token-primary;
    }
    &__text {
      margin: 10px 0;
    }
    &--btn-group {
      margin: 30px 0 0 0;
      display: flex;
      gap: 30px;
    }
    &--img {
      &__buy {
        position: absolute;
        bottom: 0;
        right: 10px;
        height: 400px;
        width: 400px;
        @media screen and (max-width: $tablet) {
          position: initial;
          height: 200px;
          width: 200px;
          margin-top: 20px;
          margin-bottom: -20px;
        }
      }
      &__art {
        position: absolute;
        top: 0;
        right: 30px;
        height: 200px;
        width: 200px;
        transform: rotate(180deg);
        @media screen and (max-width: $tablet) {
          position: absolute;
          height: 70px;
          width: 70px;
        }
      }
    }
  }
}

.flex {
  display: flex;
  @media screen and (max-width: $tablet) {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
.flex-center {
  justify-content: center;
}
.flex-around {
  justify-content: space-around;
}


